@page
@model ResetAuthenticatorModel
@{
    Layout = null; // Ensure it loads properly inside a modal
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ha visszaállítja a hitelesítő kulcsát, a hitelesítő alkalmazás nem fog működni, amíg újra nem konfigurálja azt.</strong>
    </p>
    <p>
        Ez a folyamat letiltja a 2FA-t, amíg nem ellenőrzi a hitelesítő alkalmazást.
        Ha nem fejezi be az autentikátor alkalmazás konfigurációját, elveszítheti a fiókjához való hozzáférést.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Hitelesítő kulcs visszaállítása</button>
    </form>
</div>
