@page
@model Cloud9_2.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .login-section {
        height: 100vh;
        background-color: #eff0f4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        border-radius: 1rem;
        max-height: 90vh;
        overflow-y: auto;
    }
</style>

<section class="login-section">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="/Images/pexels-asadphoto-3250614.jpg" alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <h2>Jelszó módosítása</h2>
                                <p>A folytatás előtt meg kell változtatnia a jelszavát.</p>

                                <form method="post">
                                    <div class="mb-3">
                                        <label asp-for="Input.CurrentPassword" class="form-label"></label>
                                        <input asp-for="Input.CurrentPassword" class="form-control" required />
                                        <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Input.NewPassword" class="form-label"></label>
                                        <input asp-for="Input.NewPassword" class="form-control" required
                                            minlength="6" />
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" required />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Jelszó módosítása</button>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}