@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ez a fiók ki lett zárva, kérjük, próbálja meg később újra.</p>
</header>
