@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    A jelszavát visszaállították. Kérjük, írjon a  címre. <a asp-page="./Login">kattintson ide a bejelentkezéshez</a>.
</p>
